<div class="beer-partial">
    <img src={{this.image_url}} alt="Beer image">
    <div class="beer-info">
        <h2>{{this.name}}</h2>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>
    </div>
</div>